:root{
    --background-cinza: rgba(230,230,230,0.5);
    --background-azul: rgba(88,138,135,0.35);

    --azul: #588a87;
    --branco: #FFFFFF;
    --preto-30: #C8C8C8;
    --preto-50: #A2A2A2;

    --cor-fonte: #464646; /*preto-100*/

    --fonte-tudo: 'Raleway', sans-serif;
}

.container{
    padding-right: 6%;
    padding-left: 6%;

    font-family: var(--fonte-tudo);
    color: var(--cor-fonte);

    scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
    .container{
        padding: 2rem 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .container{
        padding: 4rem 4rem;
    }
}